* {
  box-sizing: border-box;
}

@import "./typography.css";

body {
  margin: 0;
  --text-font: var(--font-alegreya);
  --heading-font: var(--font-alegreya-sans);
  /* --small-caps-font: var(--font-piazzolla-sc); */
  /* --show-gridlines: var(--ON); */
  /* --standfirst-first-line-smallcaps: var(--OFF); */

  /* --show-gridlines: var(--ON); */
}
